.elementor-11485 .elementor-element.elementor-element-260d7c5 > .elementor-container{max-width:750px;}/* Start custom CSS for page-settings */.page-id-11485 .section-page-content.no-image{
    margin-top: 0!important;
    margin-bottom: 50px!important;
}

.page-id-11485{
    overflow-x: hidden;
}

.page-id-11485 section .container{
    padding: 0;
    max-width: 100%;
}

.page-id-11485 .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 100%;
}

.page-id-11485 .container-custom{
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
}

.page-id-11485 .container-custom-contact{
    max-width: 750px;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
}

.page-id-11485 .container-custom-b{
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.page-id-11485  #footer {
    margin-top: 20px;
}

.page-id-11485 .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
    padding: 0;
}

.page-id-11485 .no-padding{
    padding: 0;
}

.page-id-11485 .no-margin{
    margin: 0;
}

.page-id-11485 .center{
    text-align: center;
}

.page-id-11485 .left{
    text-align: left;
}

.page-id-11485 .padding-custom{
    padding: 5px!important;
}

/* -------------------------------------------- */
/* Start of Nav menu */

.page-id-11485 .section-page-content{
    margin-top: 0;
}
.page-id-11485 #nav-africa .container-fluid{
    background-color: #ee7d22;
}

.page-id-11485 #nav-africa .navbar-header .collapsed .fa-chevron-down,
.page-id-11485 #nav-africa .navbar-header .fa-chevron-up {
    display: inline-block;
    color: #ee7d22;
    font-size: 25px;
}

.page-id-11485 #nav-africa .navbar-header .collapsed .fa-chevron-up,
.page-id-11485 #nav-africa .navbar-header .fa-chevron-down {
  display: none;
}

.page-id-11485 #nav-africa i.fa {
  cursor: pointer;
  margin-right: 5px;
}

.page-id-11485 #nav-africa .collapsed ~ .panel-body {
  padding: 0;
}

.page-id-11485 #nav-africa .navbar{
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}

.page-id-11485 #nav-africa  .navbar-inverse .navbar-nav{
    width: 100%;
}

.page-id-11485 #nav-africa  .navbar-inverse .navbar-nav>li{
    width: 16.66%;
}

.page-id-11485 #nav-africa  .navbar-inverse .navbar-nav>li>a{
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.page-id-11485 #nav-africa .navbar-inverse{
    background-color: transparent;
}

.page-id-11485 .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    border-bottom: #fff 2px solid;
    background: transparent;
}

@media screen and (max-width: 1024px){
    .page-id-11485 #nav-africa .container-fluid{
        background-color: transparent;
        padding-bottom:10px;
        border-top: 1px solid #ddd7d1;
    }
    
    .page-id-11485 #nav-africa .container-custom{
        border: 2px solid #ee7d22;
        padding: 0;
        margin-top: 10px;
    }
    
    .page-id-11485 #nav-africa .navbar-inverse .navbar-toggle {
        border: none;
    }
    
    .page-id-11485 #nav-africa .navbar-inverse .navbar-toggle:focus, 
    .page-id-11485 #nav-africa .navbar-inverse .navbar-toggle:hover{
        background: transparent;
        border: none;
    }
    
    .page-id-11485 #nav-africa .navbar-header {
        float: none;
    }
    .page-id-11485 #nav-africa .navbar-left,.navbar-right {
        float: none !important;
    }
    .page-id-11485 #nav-africa .navbar-toggle {
        display: block;
    }
    .page-id-11485 #nav-africa .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .page-id-11485 #nav-africa .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .page-id-11485 #nav-africa .navbar-collapse.collapse {
        display: none!important;
    }
    .page-id-11485 #nav-africa .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    
    .page-id-11485 #nav-africa .navbar-nav>li {
        float: none;
        width: 100%!important;
        text-align: left!important;
    }
    .page-id-11485 #nav-africa .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        color:#ee7d22!important;
        text-align: left!important;
    }
    .page-id-11485 #nav-africa .collapse.in{
        display:block !important;
        border-top: 2px solid #ee7d22;
    }
    .page-id-11485  #nav-africa .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, 
    .page-id-11485  #nav-africa .navbar-inverse .navbar-nav>.active>a:hover{
        border-bottom:none;
        background: transparent;
    }
}
/* -------------------------------------------- */
/* End of CSS Nav menu *//* End custom CSS */