.elementor-9909 .elementor-element.elementor-element-4233ab6 .elementor-spacer-inner{height:50px;}.elementor-9909 .elementor-element.elementor-element-4e782c65{padding:0px 40px 0px 40px;}.elementor-9909 .elementor-element.elementor-element-a816fbb{font-size:13px;}.elementor-9909 .elementor-element.elementor-element-895485b{padding:0px 40px 0px 40px;}.elementor-9909 .elementor-element.elementor-element-2386c27 .elementor-spacer-inner{height:10px;}.elementor-9909 .elementor-element.elementor-element-096670d{background-color:#f8f6f3;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:15px 30px 35px 30px;}.elementor-9909 .elementor-element.elementor-element-096670d > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-9909 .elementor-element.elementor-element-cb9fdcc > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-9909 .elementor-element.elementor-element-cb9fdcc > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-9909 .elementor-element.elementor-element-01511e7{padding:0px 0px 0px 0px;}.elementor-9909 .elementor-element.elementor-element-4304e30{font-size:13px;}.elementor-9909 .elementor-element.elementor-element-969f647 > .elementor-element-populated{background-color:#ffffff;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 5px 0px 5px;}.elementor-9909 .elementor-element.elementor-element-969f647 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-9909 .elementor-element.elementor-element-8df7ca3 > .elementor-element-populated{background-color:#ffffff;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 5px 0px 5px;}.elementor-9909 .elementor-element.elementor-element-8df7ca3 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-9909 .elementor-element.elementor-element-a22252f > .elementor-element-populated{background-color:#ffffff;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 5px 0px 5px;}.elementor-9909 .elementor-element.elementor-element-a22252f > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-9909 .elementor-element.elementor-element-4fa5f7c > .elementor-element-populated{background-color:#ffffff;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 5px 0px 5px;}.elementor-9909 .elementor-element.elementor-element-4fa5f7c > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-9909 .elementor-element.elementor-element-d04110b > .elementor-element-populated{background-color:#ffffff;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 5px 0px 5px;}.elementor-9909 .elementor-element.elementor-element-d04110b > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-9909 .elementor-element.elementor-element-01e0cfa .elementor-spacer-inner{height:50px;}.elementor-9909 .elementor-element.elementor-element-3510fd12{background-color:#ffffff;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:35px 40px 35px 40px;}.elementor-9909 .elementor-element.elementor-element-3510fd12 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-9909 .elementor-element.elementor-element-79134fb2{font-size:13px;}.elementor-9909 .elementor-element.elementor-element-2c815e11 > .elementor-widget-container{padding:10px 0px 0px 0px;}.elementor-9909 .elementor-element.elementor-element-f28bdca .elementor-spacer-inner{height:74px;}.elementor-9909 .elementor-element.elementor-element-1a24230{background-color:#f8f6f3;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:29px 40px 0px 40px;}.elementor-9909 .elementor-element.elementor-element-1a24230 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-9909 .elementor-element.elementor-element-2b473d44{font-size:13px;}.elementor-9909 .elementor-element.elementor-element-7dfbfcb{background-color:#f8f6f3;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 40px 0px 40px;}.elementor-9909 .elementor-element.elementor-element-7dfbfcb > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-9909 .elementor-element.elementor-element-0c03ab6 .elementor-flip-box__front{background-color:#ffffff;}.elementor-9909 .elementor-element.elementor-element-0c03ab6 .elementor-flip-box__back{background-color:#d0bd90;}.elementor-9909 .elementor-element.elementor-element-0c03ab6 .elementor-flip-box{height:300px;}.elementor-9909 .elementor-element.elementor-element-0c03ab6 .elementor-flip-box__front .elementor-flip-box__layer__overlay{text-align:center;}.elementor-9909 .elementor-element.elementor-element-0c03ab6 .elementor-flip-box__back .elementor-flip-box__layer__overlay{text-align:center;}.elementor-9909 .elementor-element.elementor-element-0c03ab6 .elementor-flip-box__button{margin-center:0;}.elementor-9909 .elementor-element.elementor-element-0c03ab6 > .elementor-widget-container{background-color:#d0bd90;border-style:solid;border-width:5px 1px 1px 1px;border-color:#bcb6a7;}.elementor-9909 .elementor-element.elementor-element-ae3ea9c .elementor-flip-box__front{background-color:#ffffff;}.elementor-9909 .elementor-element.elementor-element-ae3ea9c .elementor-flip-box__back{background-color:#d0bd90;}.elementor-9909 .elementor-element.elementor-element-ae3ea9c .elementor-flip-box{height:300px;}.elementor-9909 .elementor-element.elementor-element-ae3ea9c .elementor-flip-box__front .elementor-flip-box__layer__overlay{text-align:center;}.elementor-9909 .elementor-element.elementor-element-ae3ea9c .elementor-flip-box__back .elementor-flip-box__layer__overlay{text-align:center;}.elementor-9909 .elementor-element.elementor-element-ae3ea9c .elementor-flip-box__button{margin-center:0;}.elementor-9909 .elementor-element.elementor-element-ae3ea9c > .elementor-widget-container{background-color:#d0bd90;border-style:solid;border-width:5px 1px 1px 1px;border-color:#bcb6a7;}.elementor-9909 .elementor-element.elementor-element-b44ea22 .elementor-flip-box__front{background-color:#ffffff;}.elementor-9909 .elementor-element.elementor-element-b44ea22 .elementor-flip-box__back{background-color:#d0bd90;}.elementor-9909 .elementor-element.elementor-element-b44ea22 .elementor-flip-box{height:300px;}.elementor-9909 .elementor-element.elementor-element-b44ea22 .elementor-flip-box__front .elementor-flip-box__layer__overlay{text-align:center;}.elementor-9909 .elementor-element.elementor-element-b44ea22 .elementor-flip-box__back .elementor-flip-box__layer__overlay{text-align:center;}.elementor-9909 .elementor-element.elementor-element-b44ea22 .elementor-flip-box__button{margin-center:0;}.elementor-9909 .elementor-element.elementor-element-b44ea22 > .elementor-widget-container{background-color:#d0bd90;border-style:solid;border-width:5px 1px 1px 1px;border-color:#bcb6a7;}.elementor-9909 .elementor-element.elementor-element-89b0445{background-color:#f8f6f3;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 40px 40px 40px;}.elementor-9909 .elementor-element.elementor-element-89b0445 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-9909 .elementor-element.elementor-element-c48cefa .elementor-flip-box__front{background-color:#ffffff;}.elementor-9909 .elementor-element.elementor-element-c48cefa .elementor-flip-box__back{background-color:#d0bd90;}.elementor-9909 .elementor-element.elementor-element-c48cefa .elementor-flip-box{height:300px;}.elementor-9909 .elementor-element.elementor-element-c48cefa .elementor-flip-box__front .elementor-flip-box__layer__overlay{text-align:center;}.elementor-9909 .elementor-element.elementor-element-c48cefa .elementor-flip-box__back .elementor-flip-box__layer__overlay{text-align:center;}.elementor-9909 .elementor-element.elementor-element-c48cefa .elementor-flip-box__button{margin-center:0;}.elementor-9909 .elementor-element.elementor-element-c48cefa > .elementor-widget-container{background-color:#d0bd90;border-style:solid;border-width:5px 1px 1px 1px;border-color:#bcb6a7;}.elementor-9909 .elementor-element.elementor-element-3007fed .elementor-flip-box__front{background-color:#ffffff;}.elementor-9909 .elementor-element.elementor-element-3007fed .elementor-flip-box__back{background-color:#d0bd90;}.elementor-9909 .elementor-element.elementor-element-3007fed .elementor-flip-box{height:300px;}.elementor-9909 .elementor-element.elementor-element-3007fed .elementor-flip-box__front .elementor-flip-box__layer__overlay{text-align:center;}.elementor-9909 .elementor-element.elementor-element-3007fed .elementor-flip-box__back .elementor-flip-box__layer__overlay{text-align:center;}.elementor-9909 .elementor-element.elementor-element-3007fed .elementor-flip-box__button{margin-center:0;}.elementor-9909 .elementor-element.elementor-element-3007fed > .elementor-widget-container{background-color:#d0bd90;border-style:solid;border-width:5px 1px 1px 1px;border-color:#bcb6a7;}.elementor-9909 .elementor-element.elementor-element-a24e3cb .elementor-flip-box__front{background-color:#ffffff;}.elementor-9909 .elementor-element.elementor-element-a24e3cb .elementor-flip-box__back{background-color:#d0bd90;}.elementor-9909 .elementor-element.elementor-element-a24e3cb .elementor-flip-box{height:300px;}.elementor-9909 .elementor-element.elementor-element-a24e3cb .elementor-flip-box__front .elementor-flip-box__layer__overlay{text-align:center;}.elementor-9909 .elementor-element.elementor-element-a24e3cb .elementor-flip-box__back .elementor-flip-box__layer__overlay{text-align:center;}.elementor-9909 .elementor-element.elementor-element-a24e3cb .elementor-flip-box__button{margin-center:0;}.elementor-9909 .elementor-element.elementor-element-a24e3cb > .elementor-widget-container{background-color:#d0bd90;border-style:solid;border-width:5px 1px 1px 1px;border-color:#bcb6a7;}.elementor-9909 .elementor-element.elementor-element-6ee5578 .elementor-spacer-inner{height:50px;}.elementor-9909 .elementor-element.elementor-element-00a4352 .elementor-spacer-inner{height:50px;}.elementor-9909 .elementor-element.elementor-element-84619b8{padding:0px 30px 0px 30px;}.elementor-9909 .elementor-element.elementor-element-3152807f{font-size:13px;}.elementor-9909 .elementor-element.elementor-element-424572a{padding:0px 0px 0px 0px;}.elementor-9909 .elementor-element.elementor-element-b0b8ef8 a.elementor-button, .elementor-9909 .elementor-element.elementor-element-b0b8ef8 .elementor-button{font-size:18px;font-weight:600;background-color:#a9dbda;padding:15px 70px 15px 70px;}.elementor-9909 .elementor-element.elementor-element-478eab1 a.elementor-button, .elementor-9909 .elementor-element.elementor-element-478eab1 .elementor-button{font-size:18px;font-weight:600;background-color:#a9dbda;padding:15px 70px 15px 70px;}.elementor-9909 .elementor-element.elementor-element-478eab1 > .elementor-widget-container{padding:0px 0px 0px 0px;}@media(min-width:768px){.elementor-9909 .elementor-element.elementor-element-8df7ca3{width:23.941%;}.elementor-9909 .elementor-element.elementor-element-a22252f{width:15.009%;}.elementor-9909 .elementor-element.elementor-element-4fa5f7c{width:24.161%;}.elementor-9909 .elementor-element.elementor-element-d04110b{width:16.886%;}}/* Start custom CSS for html, class: .elementor-element-e83550f *//* Global CSS */
.page-id-9909 .container-custom{
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

/* Need CSS for Individual Page for Padding */

.page-id-9909 .elementor-element-7a777b2 .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated{
    padding:0;
}


/* -------------------------------------------- */
/* Start of Nav menu */

#nav-ir .navbar{
    min-height: 0;
}

#nav-ir .navbar-header .collapsed .fa-chevron-down,
#nav-ir .navbar-header .fa-chevron-up {
    display: inline-block;
    color: #ee7d22;
    font-size: 25px;
}

#nav-ir .navbar-header .collapsed .fa-chevron-up,
#nav-ir .navbar-header .fa-chevron-down {
  display: none;
}

#nav-ir .container-fluid{
    background-color: #ee7d22;
}

#nav-ir i.fa {
  cursor: pointer;
  margin-right: 5px;
}

#nav-ir .collapsed ~ .panel-body {
  padding: 0;
}

#nav-ir .navbar{
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}

#nav-ir .navbar-inverse .navbar-nav{
    width: 100%;
}

#nav-ir .navbar-inverse .navbar-nav>li{
    width: 16.66%;
}

#nav-ir .navbar-inverse .navbar-nav>li>a{
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    padding: 15px 0;
}

#nav-ir .navbar-inverse{
    background-color: transparent;
}

#nav-ir .navbar-inverse .navbar-nav>li a.active,
#nav-ir .navbar-inverse .navbar-nav>li a.focus{
    background-color: #f69541;
    font-weight:400;
}

#nav-ir .navbar-inverse .navbar-nav>.open>a,
#nav-ir .navbar-inverse .navbar-nav>.open>a:focus,
#nav-ir .navbar-inverse .navbar-nav>.open>a:hover{
        background-color: #f69541;
}

#nav-ir .dropdown-menu{
    position: absolute;
    top:98%;
}

@media screen and (min-width: 1440px){
    /*#nav-ir  .navbar-inverse .navbar-nav>li a{
        font-size: 22px!important;
    }*/
}

@media screen and (min-width: 1024px){
    #nav-ir  .navbar-inverse .navbar-nav>li a{
        font-size: 18px;
    }
    
    #nav-ir .navbar-inverse .navbar-nav>li:hover{
        background-color: #f69541;
        transition: .3s;
    }

    #nav-ir .dropdown-menu>li>a:focus, 
    #nav-ir .dropdown-menu>li>a:hover{
        background-color:#f69541;
    }
    
    #nav-ir .dropdown-menu{
        background-color:#ee7d22;
        padding: 0;
    }
    
    #nav-ir .dropdown-menu li a{
        color:#fff;
        padding: 10px;
    }
}

@media screen and (max-width: 1024px){
    #nav-ir .container-fluid{
        background-color: transparent;
        padding-bottom:10px;
        border-top: 1px solid #ddd7d1;
    }
    
    #nav-ir .container-custom{
        border: 2px solid #ee7d22;
        padding: 0;
        margin-top: 10px;
    }
    
    #nav-ir .navbar-inverse .navbar-toggle {
        border: none;
    }
    
    #nav-ir .navbar-inverse .navbar-toggle:focus, 
    #nav-ir .navbar-inverse .navbar-toggle:hover{
        background: transparent;
        border: none;
    }
      
    #nav-ir .navbar-header {
        float: none;
    }
    #nav-ir .navbar-left,.navbar-right {
        float: none !important;
    }
    #nav-ir .navbar-toggle {
        display: block;
    }
    #nav-ir .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    #nav-ir .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    #nav-ir .navbar-collapse.collapse {
        display: none!important;
    }
    #nav-ir .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    
    #nav-ir .navbar-nav>li {
        float: none;
        width: 100%!important;
        text-align: left!important;
    }
    #nav-ir .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        color:#ee7d22!important;
        text-align: left!important;
    }
    #nav-ir .collapse.in{
        display:block !important;
        border-top: 2px solid #ee7d22;
    }
    
    #nav-ir .navbar-inverse .navbar-nav>.active>a, 
    #nav-ir .navbar-inverse .navbar-nav>.active>a:focus, 
    #nav-ir .navbar-inverse .navbar-nav>.active>a:hover{
        border-bottom:none;
        background: transparent;
    }
    
    #nav-ir .navbar-inverse .navbar-nav>.open>a, 
    #nav-ir .navbar-inverse .navbar-nav>.open>a:focus, 
    #nav-ir .navbar-inverse .navbar-nav>.open>a:hover {
        color: #fff;
        background-color: transparent;
    }

    #nav-ir .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    #nav-ir .navbar-inverse .navbar-nav>li>a{
        padding: 10px;
        color: #837970!important;
        font-weight: 400;
    }
    
    #nav-ir .navbar-nav .open .dropdown-menu>li>a{
        color:#837970!important;
    }
    #nav-ir .navbar-inverse .navbar-nav>li a.active,
    #nav-ir .navbar-inverse .navbar-nav>li a.focus{
        background-color: transparent;
    }
}
/* -------------------------------------------- */
/* End of CSS Nav menu *//* End custom CSS */
/* Start custom CSS for flip-box, class: .elementor-element-0c03ab6 */.corpgov-bod img {
    width: 180px;
}

.corpgov-bod h4 {
    color: #ef4f1e;
}

.corpgov-bod h5 {
    color: #a79b7f;
}/* End custom CSS */
/* Start custom CSS for flip-box, class: .elementor-element-ae3ea9c */.corpgov-bod img {
    width: 200px;
}

.corpgov-bod h4 {
    color: #ef4f1e;
}

.corpgov-bod h5 {
    color: #a79b7f;
}

.elementor-flip-box__back{
    position: relative;
    overflow-y:auto;
}/* End custom CSS */
/* Start custom CSS for flip-box, class: .elementor-element-b44ea22 */.corpgov-bod img {
    width: 200px;
}

.corpgov-bod h4 {
    color: #ef4f1e;
}

.corpgov-bod h5 {
    color: #a79b7f;
}/* End custom CSS */
/* Start custom CSS for flip-box, class: .elementor-element-c48cefa */.corpgov-bod img {
    width: 200px;
}

.corpgov-bod h4 {
    color: #ef4f1e;
}

.corpgov-bod h5 {
    color: #a79b7f;
}/* End custom CSS */
/* Start custom CSS for flip-box, class: .elementor-element-3007fed */.corpgov-bod img {
    width: 200px;
}

.corpgov-bod h4 {
    color: #ef4f1e;
}

.corpgov-bod h5 {
    color: #a79b7f;
}/* End custom CSS */
/* Start custom CSS for flip-box, class: .elementor-element-a24e3cb */.corpgov-bod img {
    width: 200px;
}

.corpgov-bod h4 {
    color: #ef4f1e;
}

.corpgov-bod h5 {
    color: #a79b7f;
}/* End custom CSS */
/* Start custom CSS for page-settings */.legal-box .wp-caption{
    border: none;
}

.legal-box-img{
    height: 150px;
}/* End custom CSS */